<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>

<div class="container">
    <!-- Imagen decorativa -->
    <div class="image-container">

        <img th:src="@{/img/gav.png}" alt="Login" style="max-width: 100%;"/>
    </div>

    <h2>Iniciar Sesión</h2>
    <form th:action="@{/login}" method="post">
        <div class="input-container">
            <input type="text" id="username" name="username" required />
            <label for="username" class="label">Usuario</label>
            <div class="underline"></div>
        </div>

        <div class="input-container">
            <input type="password" id="password" name="password" required />
            <label for="password" class="label">Contraseña</label>
            <div class="underline"></div>
        </div>

        <button type="submit">Ingresar</button>
    </form>


    <br>
    <p>¿No tienes cuenta? <a th:href="@{/register}">Regístrate aquí</a></p>
</div>

</body>
</html>
